[submodule "3rdparty/blend2d"]
	path = 3rdparty/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "3rdparty/asmjit"]
	path = 3rdparty/asmjit
	url = https://github.com/asmjit/asmjit.git
